*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: aquamarine; */
    font-family: sans-serif;
    background-image: url(../assets/background.webp);
    background-repeat: no-repeat;
    
}

.container{
    min-height: 100vh;
    background-size: 100vh 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board{
    background: linear-gradient(rgb(228, 209, 173), rgb(119, 175, 187) );
    width: 90vmin;
    height: 92vmin;
    border: 5px solid rgb(50, 48, 48);
    box-shadow: 0 0 30px rgb(255, 255, 255);
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns : repeat(18, 1fr);
}

.head{
    background-color: rgb(76, 109, 6);
}

.snake{
    background-color: greenyellow;
    border: 1px solid black;
}

.food{
    background-color: rgb(124, 81, 164);
    border-radius: 45%;
}
